/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  :root {
      --bg-banner: linear-gradient(to bottom,#f48c82, #fbe089);
      --white:#fff;
      --red: rgba(243, 129, 129, 0.9);
      --muted: #ccc;
      --statiistics-color: #95e1d3;
      --black:#333;
      --yellow: #fce38a;
      --bg-muted: #f8f8f8;
      --happy-text: #aeaeae;
  }

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat";
    overflow-x: hidden;
}
.container {
    max-width: 1270px;
    margin: 0 auto;
}
.section__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24pt;
    line-height: 1.5;
    font-weight: 400;
    color: ;
    font-family: "Kaushan Script";
}
.section__title {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.section__title::after {
    margin-top: 40px;
    width: 60px;
    height: 5px;
    content: "";
    background-color: var(--red);
}
.section__text {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--muted);
}
/* START SITE BANNER SECTION  */
.banner {
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    background-color: var(--red);
}
.site-header__container {
    padding: 10px 0; 
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.site-logo {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
}
.site-logo:hover {
    opacity: 0.7;
}
.sitenav {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
}
.sitenav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.sitenav__item {
    margin-right: 50px;
}
.sitenav__link {
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}
.sitenav__link:hover {
    color: #fce38a;
    border-color: #fce38a;
}
.sitenav__active a{
    color: #fce38a;
    border-color: #fce38a;
}
.site-header__shopping-btn,
.site-header__search-btn {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
}
.site-header__search-btn {
    background-image: url(../images/search-icon.png);
}
.site-header__shopping-btn {
    background-image: url(../images/shopping-card.png);
    margin-right: 40px;
}
.site-header__search-btn:hover,
.site-header__shopping-btn:hover {
    opacity: 0.7;
}
.site-header__hamburger-icon {
    display: none;
}
.site-header__hamburger-icon div {
    width: 20px;
    height: 3px;
    background-color: var(--white);
}.site-header__hamburger-icon div:not(:last-child) {
    margin-bottom: 4px;
}


/* START BANNER HERO SECTION  */
.site-hero__item {
    padding-top: 135px;
    padding-bottom: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.site-hero__subtitle {
    font-size: 72px;
    line-height: 1.1;
    font-weight: 400;
    font-family: "Kaushan Script";
}
.site-hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    font-size: 150px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.site-hero__title::after {
    width: 65px;
    height: 5px;
    margin-top: 70px;
    content: "";
    background-color: var(--white);
}
.site-hero__btn {
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--white);
    border:  4px solid var(--white);
    transition: all 0.3s ease;
}
.site-hero__btn:hover {
    color: #fbe089;
    background-color: var(--white);
}
.banner__bottom-list {
    margin-top: 145px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
}
.banner__bottom-list-item {
    width: 280px;
    padding: 25px 0;
    border-top: 3px solid var(--white);
}
.banner__bottom-list-item:not(:last-child) {
    margin-right: 40px;
}
.bottom-list-item__number {
    font-size: 18px;
    margin-right: 5px;
    font-weight: 700;
}
.banner__bottom-list-item:first-child {
    position: relative;
}
.banner__bottom-list-item:first-child::before {
    position: absolute;
    top: -3px;
    left: 0;
    width: 25%;
    height: 3px;
    content: "";
    background-color:#f48c82;
}

.site__hero .slick-dots {
    position: relative;
    top: -30px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
}
.site__hero .slick-dots li {
    padding-top: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
    display: flex;
    width: 280px;
    border-top: 3px solid var(--white);
}
.site__hero .slick-dots span {
    font-size: 18px;
    margin-right: 5px;
    font-weight: 700;
}
.site__hero .slick-dots li.slick-active::before {
    position: absolute;
    top: -3px;
    left: 0;
    width: 25%;
    height: 3px;
    content: "";
    background-color:#f48c82;
}
.site__hero .slick-dots li.slick-active {
    opacity: 1;
}

/* START ABOUT SECTION  */
.about {
    padding-top: 90px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__item:not(:last-child) {
    margin-right: 30px;
}
.about__item {
    position: relative;
    transition: all 0.3s ease-in-out;
}
.about__item::before {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--statiistics-color);
    z-index: -1;
}
.about__item::after {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background: var(--bg-banner);
    opacity: 0.9;
}
.about__item:hover::after {
    display: block;
}
.about__item:hover::before {
    display: block;
}
.about__item:hover {
    animation-name: hover;
    animation-duration: 1s;
}
.about__item-hover {
    position: absolute;
    top: 100px;
    left: 130px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.about__item-hover span {
    margin-top: 12px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
}
.about__item:hover .about__item-hover {
    display: flex;
}

@keyframes hover {
    0% {
        top: 0px;
        left: 0px;
    }
    50% {
        left: -10px;
        top: -10px;
    }
    100% {
        top: 0px;
        left: 0px;
    }
}


/* START STATISTICS SECTION  */
.statistics {
    background-color: var(--statiistics-color);
}
.statistics__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
}
.statistics__wrapper div {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statistics__wrapper div:not(:last-child) {
    border-right:1px solid var(--white) ;
}
.statistics__number {
    font-size: 72px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--white);
}
.statistics__title {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white);
}


/* START SERVICES SECTION  */
.services {
    padding: 100px 0;
}
.services__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}

.services__item {
    display: flex;
}
.services__item::before {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.services__item:nth-child(1)::before {
    background-image: url(../images/alarm.png);
}
.services__item:nth-child(2)::before {
    background-image: url(../images/line-graph.png);
}
.services__item:nth-child(3)::before {
    background-image: url(../images/monitor.png);
}
.services__item:nth-child(4)::before {
    background-image: url(../images/book.png);
}
.services__item:nth-child(5)::before {
    background-image: url(../images/home.png);
}
.services__item:nth-child(6)::before {
    background-image: url(../images/digital.png);
}
.servixes__item-title {
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
}
.services__item-text {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}

/* START UNIQIUE SECTION  */ 
.unique-designs {
    background-image: url(../images/unique-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.unique-designs__container {
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.unique-design__small-phone {
    position: absolute;
    bottom: -10%;
    right: 23%;
}


/* START WE DO SECTION  */
.we-do {
    padding: 100px 0;
}
.we-do__info {
    display: flex;
}
.we-do__img {
    margin-right: 30px;
}
.we-do__tab-btn {
    width: 670px;
    padding: 10px 15px;
    background: none;
    display: flex;
    align-items: center;
    border: 1px solid var(--muted);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    cursor: pointer;
}
.we-do__tab-btn:not(:last-child) {
    margin-bottom: 10px;
}
.we-do__tab-btn::before {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.we-do-tab:nth-child(1) .we-do__tab-btn::before {
    background-image: url(../images/we-do-photograpy-btn.png);
}
.we-do-tab:nth-child(2) .we-do__tab-btn::before {
    background-image: url(../images/we-do-creativity-btn.png);
}
.we-do-tab:nth-child(3) .we-do__tab-btn::before {
    background-image: url(../images/we-do-web-design-btn.png);
}
.we-do__tab-btn::after {
    width: 26px;
    height: 14px;
    margin-left: auto;
    content: "";
    background-image: url(../images/icon-down.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.we-do__tab-text {
    display: none;
    padding: 0;
    margin: 0;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid var(--muted);
    border-top: none;
    font-size: 15px;
    line-height: 1.5;
    font-style: italic;
    font-family: "Roboto";
    color: var(--muted);
}
.we-do__tab-active .we-do__tab-text {
    display: block;
}
.we-do__tab-active .we-do__tab-btn {
    margin-bottom: 0;
}
.we-do__tab-active .we-do__tab-btn::after {
    background-image: url(../images/icon-top.png);
}

/* START FIRST CAROUSEL  */
.first-carousel {
    padding: 70px 0;
    background-color: var(--bg-muted);
}
.carousel__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
.carousel__item {
    display: flex;
    align-items: center;
}
.carousel-img-wrapper {
    margin-right: 60px;
    padding: 30px;
    border: 2px solid var(--statiistics-color);
}
.carousel__text {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Roboto";
    font-style: italic;
    color: var(--muted);
}
.carousel__name {
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Kaushan Script";
}
.carousel__name::before {
    width: 60px;
    height: 4px;
    margin-right: 10px;
    content: "";
    background-color: var(--red);
}
.slick-initialized .slick-slide {
    display: flex;
}

/* START UOR TEAM SECTION  */

.our-team {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-team__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-team__item {
    position: relative;
    width: 380px;
    height: 470px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:   -100px center;
}
.our-team__socials {
    display: none;
    z-index: 5;
}
.our-team__item:hover .our-team__socials {
    display: flex;
}
.our-team__socials div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: var(--red);
}
.our-team__socials div {
    width: 55px;
    height: 60px;
    background-color: var(--yellow);
    transition: all 0.3s ease;
}
.our-team__socials div:hover {
    background-color: var(--red);
    color: var(--white)
}
.our-team__socials div:not(:last-child) {
    border-right: 1px solid var(--red);
}
.our-team__item::before {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--statiistics-color);
    z-index: -1;
}
.our-team__item::after {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background: var(--bg-banner);
    opacity: 0.9;
}
.our-team__item:hover::after {
    display: block;
}
.our-team__item:hover::before {
    display: block;
}
.our-team__item:hover {
    top: -10px;
    left: -10px;
}

.our-team__item:nth-child(1){
    background-image: url(../images/our-team-first.png);
}
.our-team__item:nth-child(2){
    background-image: url(../images/our-team-second.png);
    background-size: cover;
    background-position: center center;
}
.our-team__item:nth-child(3){
    background-image: url(../images/our-team-third.png);
}
.our-team__item:not(:last-child) {
    margin-right: 30px;
}

/* START LOGOS SECTION  */
.logos {
    padding: 60px 0;
    background-color: var(--bg-muted);
    opacity: 0.7;
}
.logos__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logos__link {
    transition: all 0.3s ease;
    opacity: 0.7;
}
.logos__link:hover {
    opacity: 1;
}

/* START PORTFOLIO SECTION  */

.portfolio {
    padding-top: 100px;
}
.portfolio__gallery {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "ff fs h fl"
    "sf ss h sl";
}
#firstrow-first {
    width: 25vw;
    height: 40vh;
    grid-area: ff;
    background-image: url(../images/portfolio-ff.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#firstrow-second {
    width: 25vw;
    height: 40vh;
    grid-area: fs;
    background-image: url(../images/portfolio-fs.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#firstrow-last {
    width: 25vw;
    height: 40vh;
    grid-area: fl;
    background-image: url(../images/portfolio-fl.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#horizantal {
    width: 25vw;
    height: 80vh;
    grid-area: h;
    background-image: url(../images/portfolio-horizontal.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#secondrow-first {
    width: 25vw;
    height: 40vh;
    grid-area: sf;
    background-image: url(../images/portfolio-sf.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#secondrow-second {
    width: 25vw;
    height: 40vh;
    grid-area: ss;
    background-image: url(../images/portfolio-ss.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#secondrow-last {
    width: 25vw;
    height: 40vh;
    grid-area: sl;
    background-image: url(../images/portfolio-sl.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.portfolio__hover {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    transition: all 0.3s ease;
}
.portfolio__hover-title {
    margin: 15px 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--white);
    text-transform: uppercase;
}
.portfolio__hover-text {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--white);
}
.portfolio__first-div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.portfolio__first-div:before {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background: var(--bg-banner);
    opacity: 0.9;
}
.portfolio__first-div:hover::before {
    display: block;
}
.portfolio__first-div:hover .portfolio__hover {
    display: flex;
}


/* START SECOND CAROUSEL  */
.second-carousel {
    padding: 100px 0;
}
.second-carousel img {
    border-radius: 260px;
    margin-right: 20px;
}
.carousel__list {
    margin-bottom: 40px;
}

/* START HAPPY CLIENTS SECTION  */
.happy-clients {
    padding: 100px 0;
    background-image: url(../images/happy-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.happy-clients__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 80px;
}
.happy-clients__item {
    display: flex;
}
.happy-clients__info {
    display: flex;
    flex-direction: column;
}
.happy-img {
    border-radius: 120px;
    margin-right: 30px;
}
.happy-clients__name {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--black);
}
.happy-clients__job {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto";
    color: var(--black);
}
.happy-clients__job::after {
    width: 60px;
    height: 4px;
    margin-top: 20px;
    content: "";
    background-color: var(--red);
}
.happy-clients__text {
    margin-top: 15px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--happy-text);
}


/* START BLOG SECTION  */
.blog {
    padding: 100px 0;
}
.blog__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.blog__item {
    max-width: 380px;
    display: flex;
    flex-direction: column;
}
.blog__item:not(:last-child) {
    margin-right: 30px;
}
.blog__item-header {
    position: relative;
    margin-bottom: 20px;
}
.blog__data {
    position: absolute;
    bottom: 10px;
    left: -10px;
    width: 60px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--statiistics-color);
    z-index: 5;
}
.blog__day {
    font-size: 29px;
    line-height: 1.5;
    font-weight: 700;
    color: var(--white);
}
.blog__month {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--white);
    font-family: "Roboto";
    font-style: italic;
}
.blog__item-link {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.blog__item-link:hover {
    opacity: 0.7;
    text-decoration: underline;
}
.blog__text {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--black);
    font-family: "Roboto";
    font-style: normal;
}
.blog__item-footer {
    display: flex;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid var(--muted);
}
.blog__item-view {
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Roboto";
    font-style: italic;
    color: var(--muted);

}
.blog__item-view::before {
    width: 20px;
    height: 12px;
    margin-right: 5px;
    content: "";
    background-image: url(../images/view.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.blog__item-comment {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 1.5;
    font-family: "Roboto";
    font-style: italic;
    color: var(--muted);
}
.blog__item-comment::before {
    width: 17px;
    height: 15px;
    margin-right: 5px;
    content: "";
    background-image: url(../images/comment.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* START SITE FOOTER SECTION  */
.site-footer {
    padding-top: 70px;
    background-color: var(--bg-muted);
}
.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer__link {
    text-decoration: none;
}
.footer__section-title {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
}
.footer__row {
    display: flex;
    border-bottom: 1px solid var(--muted);
}
.footer__info {
    max-width: 470px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
}
.footer__site-logo {
    margin-bottom: 40px;
    text-decoration: none;
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    color: #ccc;
}
.footer__text {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Roboto";
    color: var(--muted);
}
.footer__followers {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--black);
}
.footer__followers-number {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #000;
}
.footer__socials {
    width: 100%;
    padding-top: 15px;
    margin-bottom: 35px;
    display: flex;
    border-top: 1px solid var(--muted);
}
.footer__socials-list {
    display: flex;
    align-items: center;
}
.footer__socials-link {
    color: var(--statiistics-color);
    font-size: 18px;
    line-height: 1.5;
    transition: all 0.3s ease;
}
.footer__socials-link:hover {
    opacity: 0.7;
}
.footer__socials-item {
    margin-left: 15px;
}
.footer__form {
    display: flex;
}
.footer__form input {
    padding: 13px;
    border: 1px solid;
    border-color: var(--muted);
    outline: none;
}
.footer__form input::placeholder {
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    font-style: italic;
}
.footer__form-btn {
    padding: 0 30px;
    text-transform: uppercase;
    border: 2px solid transparent;
    background-color: var(--statiistics-color);
    color: var(--white);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    transition: all 0.3s ease;
}
.footer__form-btn:hover {
    border-color: var(--statiistics-color);
    color: var(--statiistics-color);
    background-color: transparent;
}
.footer__blogs {
    margin: 0 30px;
}
.footer__blogs-item {
    display: flex;
    align-items: center;
}
.footer__blogs-info {
    max-width: 340px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.footer-blogs-link {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--black);
    transition: all 0.3s ease;
    font-family: "Montserrat";
}
.footer-blogs-link:hover {
    opacity: 0.7;
    text-decoration: underline;
}
.footer__blogs-time {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto";
    color: var(--muted);
}
.footer__blogs-item:not(:last-child) {
    margin-bottom: 30px;
}
.footer__instagram-list {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: auto;
    grid-column-gap: 4px;
}
.footer__instagram-link {
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'Roboto';
    font-style: italic;
    color: var(--black);
    transition: all 0.3s ease;
}
.footer__instagram-link:hover {
    opacity: 0.7;
    text-decoration: underline;
}
.footer__bottom {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--black);
    text-align: center;
}
.footer__bottom-link {
    color: var(--red);
    font-weight: 700;
    font-family: "Montserrat";
    transition: all 0.3s ease;
}
.footer__bottom-link:hover {
    opacity: 0.7;
    text-decoration: underline;
}