/* FONTS  */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
  :root {
      --bg-banner: linear-gradient(to bottom,#f48c82, #fbe089);
      --white:#fff;
      --red: #f38181;
      --muted: #ccc;
      --statiistics-color: #95e1d3;
      --black:#333;
  }

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat";
}
.container {
    max-width: 1270px;
    margin: 0 auto;
}
.section__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24pt;
    line-height: 1.5;
    font-weight: 400;
    color: ;
    font-family: "Kaushan Script";
}
.section__title {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.section__title::after {
    margin-top: 40px;
    width: 60px;
    height: 5px;
    content: "";
    background-color: var(--red);
}
.section__text {
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--muted);
}
/* START SITE BANNER SECTION  */
.banner {
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.site-header {
    padding: 25px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.site-logo {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease;
}
.site-logo:hover {
    opacity: 0.7;
}
.sitenav {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
}
.sitenav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.sitenav__item {
    margin-right: 50px;
}
.sitenav__link {
    padding: 10px 0;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
}
.sitenav__link:hover {
    color: #fce38a;
    border-color: #fce38a;
}
.site-header__shopping-btn,
.site-header__search-btn {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    transition: all 0.3s ease;
}
.site-header__search-btn {
    background-image: url(../images/search-icon.png);
}
.site-header__shopping-btn {
    background-image: url(../images/shopping-card.png);
    margin-right: 40px;
}
.site-header__search-btn:hover,
.site-header__shopping-btn:hover {
    opacity: 0.7;
}
.site-header__hamburger-icon {
    display: none;
}
.site-header__hamburger-icon div {
    width: 20px;
    height: 3px;
    background-color: var(--white);
}.site-header__hamburger-icon div:not(:last-child) {
    margin-bottom: 4px;
}


/* START BANNER HERO SECTION  */
.site-hero {
    padding-top: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.site-hero__subtitle {
    font-size: 72px;
    line-height: 1.1;
    font-weight: 400;
    font-family: "Kaushan Script";
}
.site-hero__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    font-size: 150px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.site-hero__title::after {
    width: 65px;
    height: 5px;
    margin-top: 70px;
    content: "";
    background-color: var(--white);
}
.site-hero__btn {
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--white);
    border:  4px solid var(--white);
    transition: all 0.3s ease;
}
.site-hero__btn:hover {
    color: #fbe089;
    background-color: var(--white);
}
.banner__bottom-list {
    margin-top: 145px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    text-transform: uppercase;
}
.banner__bottom-list-item {
    width: 280px;
    padding: 25px 0;
    border-top: 3px solid var(--white);
}
.banner__bottom-list-item:not(:last-child) {
    margin-right: 40px;
}
.bottom-list-item__number {
    font-size: 18px;
    margin-right: 5px;
    font-weight: 700;
}
.banner__bottom-list-item:first-child {
    position: relative;
}
.banner__bottom-list-item:first-child::before {
    position: absolute;
    top: -3px;
    left: 0;
    width: 25%;
    height: 3px;
    content: "";
    background-color:#f48c82;
}

/* START ABOUT SECTION  */
.about {
    padding-top: 90px;
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about__item:not(:last-child) {
    margin-right: 30px;
}
.about__item {
    position: relative;
    transition: all 0.3s ease
}
.about__item::before {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--statiistics-color);
    z-index: -1;
}
.about__item::after {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    background: var(--bg-banner);
    opacity: 0.9;
}
.about__item:hover::after {
    display: block;
}
.about__item:hover::before {
    display: block;
}
.about__item:hover {
    top: -10px;
    left: -10px;
}
.about__item-hover {
    position: absolute;
    top: 100px;
    left: 130px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.about__item-hover span {
    margin-top: 12px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
}
.about__item:hover .about__item-hover {
    display: flex;
}


/* START STATISTICS SECTION  */
.statistics {
    background-color: var(--statiistics-color);
}
.statistics__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
}
.statistics__wrapper div {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statistics__wrapper div:not(:last-child) {
    border-right:1px solid var(--white) ;
}
.statistics__number {
    font-size: 72px;
    line-height: 1.2;
    font-weight: 700;
    color: var(--white);
}
.statistics__title {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white);
}


/* START SERVICES SECTION  */
.services {
    padding: 100px 0;
}
.services__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 60px;
    grid-row-gap: 60px;
}

.services__item {
    display: flex;
}
.services__item::before {
    width: 45px;
    height: 45px;
    margin-right: 20px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.services__item:nth-child(1)::before {
    background-image: url(../images/alarm.png);
}
.services__item:nth-child(2)::before {
    background-image: url(../images/line-graph.png);
}
.services__item:nth-child(3)::before {
    background-image: url(../images/monitor.png);
}
.services__item:nth-child(4)::before {
    background-image: url(../images/book.png);
}
.services__item:nth-child(5)::before {
    background-image: url(../images/home.png);
}
.services__item:nth-child(6)::before {
    background-image: url(../images/digital.png);
}
.servixes__item-title {
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
}
.services__item-text {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}

/* START UNIQIUE SECTION  */ 
.unique-designs {
    background-image: url(../images/unique-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.unique-designs__container {
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.unique-design__small-phone {
    position: absolute;
    bottom: -10%;
    right: 23%;
}


/* START WE DO SECTION  */
.we-do {
    padding: 100px 0;
}
.we-do__info {
    display: flex;
}
.we-do__img {
    margin-right: 30px;
}
.we-do__tab-btn {
    width: 100%;
    padding: 10px 15px;
    background: none;
    display: flex;
    align-items: center;
    border: 1px solid var(--muted);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
}
.we-do__tab-btn:not(:last-child) {
    margin-bottom: 10px;
}
.we-do__tab-btn::before {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.we-do-tab:nth-child(1) .we-do__tab-btn::before {
    background-image: url(../images/we-do-photograpy-btn.png);
}
.we-do-tab:nth-child(2) .we-do__tab-btn::before {
    background-image: url(../images/we-do-creativity-btn.png);
}
.we-do-tab:nth-child(3) .we-do__tab-btn::before {
    background-image: url(../images/we-do-web-design-btn.png);
}
.we-do__tab-btn::after {
    width: 26px;
    height: 14px;
    margin-left: auto;
    content: "";
    background-image: url(../images/icon-down.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}
.we-do__tab-text {
    display: none;
    padding: 0;
    margin: 0;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid var(--muted);
    border-top: none;
    font-size: 15px;
    line-height: 1.5;
    font-style: italic;
    font-family: "Roboto";
    color: var(--muted);
}
.we-do__tab-active .we-do__tab-text {
    display: block;
}
.we-do__tab-active .we-do__tab-btn {
    margin-bottom: 0;
}
.we-do__tab-active .we-do__tab-btn::after {
    background-image: url(../images/icon-top.png);
}